RewriteEngine On
RewriteBase /payroll/pay
RewriteRule ^/payroll/pay/index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /payroll/pay/index.php [L]